.media-files-div{
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid gray;
    flex-direction: row;
}

.add-media-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

